.burger__btn{
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../img/menu.png);
    transition: 0.5s;
 }
 
 .burger__btn.close{
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../img/menu_close.png);
    transition: 0.5s;
 }
 
 .burger-menu{
    margin-right: 8px;
 }
 
 .menu__item{
    margin: 0px 0px 8px 10px;
 }