:root {
    --theme-color-base: #E5E5E5;
    --theme-color-text: #56597A;
    --theme-color-primary: #FFF1F9;
    --theme-color-secondary: #F78BB6;
    --mq-size-sm: 576px;
    --mq-size-md: 768px;
    --mq-size-lg: 992px;
    --mq-size-xl: 1200px;
    }
    
    * {
      box-sizing: border-box;
  }

body{
  position: relative;    
  width: 100%;
  background: #FCFCFC;
  }

  p, h1, h2, h3, a{
    font-family: Montserrat;
 }
   h1, h2{
    font-weight: 500;
 }
 
h3{
    font-weight: 700;
 }

.container {
    --container-width: 100%;
    width: var(--container-width);
    margin: 0 auto;
    padding: 0 15px;
}
      
  .header__wrapper {
    display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
}

.navigation__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.navigation__item {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.navigation__link {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    color: var(--theme-color-text);
    text-decoration: none;
}

.navigation__item{
  margin: 0px 0px 8px 10px;
}

.navigation {
    display: none;
} 

.navigation.active{
	display: block;
   width: 100%;
   background-color: rgba(247, 248, 250, 0.6);
   position: absolute;
   left: 0;
   top: 46px;
   backdrop-filter: blur(24px);
   z-index: 999;
}

.cl-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    height: 40px;
    background: var(--theme-color-secondary);
    border-radius: 4px;
    outline: none;
    border: none;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.1;
    color: var(--theme-color-base);
    border: 1px solid transparent;
    transition: 0.5s;
    cursor: pointer;
    width: max-content;
  }
.cl-button__img{
    height: 19px;
    object-fit: contain;
    object-position: center;
    display: block;
}

.cl-button__text{
  font-weight: 500;
   font-size: 14px;
   line-height: 14px;
   color: #FFFFFF;
   margin-right: 10px;
}

.block__img{
  display: block;
   max-width: 300px;
   object-fit: cover;
   margin: 0 auto;
}


.title{
  font-size: 14px;
  line-height: 14px;
  color: #F78CB6;
  margin: 0px 0px 8px 8px;
}

.section__card .title{
  text-align: center;
  color: #F78CB6;
  margin: 0px 0px 8px 8px;
}

.subtitle{
  font-size: 20px;
  line-height: 20px;
  color: #56597A;
  margin: 0px 0px 8px 8px;
}

.section__card .subtitle{
  text-align: center;
  color: #56597A;
  margin: 0px 0px 8px 8px;
}

.main-block__text{
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.02em;
  color: #919299;
  margin: 8px 8px 8px 12px;
}

.main-block{
  display: block;
  margin-top: 8px;
}

.section__card{
  display: block;
  margin-top: 50px;
}

.card-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}

.card-item{
  display: block;
  width: 270px;
  height: 307px;
  background: #FFF1F9;
  border-radius: 8px;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 25px;
  filter: drop-shadow(2px 2px 4px rgba(228, 206, 206, 0.3));
  transition: all 0.5s linear;
  filter: grayscale(0);
}

.card-item__img{
   display: block;
   width: 50px;
   height: 50px;
   transition: 0.5s;
   margin: 53px auto 38px auto;
   object-fit: contain;
   object-position: center;
}

.card-item__title{
  font-size: 34px;
  line-height: 72px;
  text-align: center;
  color: #56597A;
}

.card-item__text{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #919299;
  margin-bottom: 23px;
}

.card-item__link{
  display: none;
}

.card-item.active .card-item__link{
  display: flex;
  justify-content: center;
}

.card-item.active{
  background: #F78CB6;
  height: 344px;
  margin-bottom: 0;
  filter: drop-shadow(10px 10px 20px rgba(250, 141, 184, 0.2));
  transition: all 0.5s linear;
  filter: grayscale(0);

}

.card-item.active .card-item__link{
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  font-style: normal;
  margin-bottom: 22px;
  text-align: center;
}

.card-item.active .card-item__img{
  filter: grayscale(100%) contrast(10);
}

.card-item.active .card-item__title{
  color: #fff;
}

.card-item.active .card-item__text{
  color: #fff
}

.block__feedback{
  display: block;
}

.block__feedback .title{
  font-size: 14px;
  line-height: 14px;
  color: #F78CB6;
  text-align: center;
  margin-bottom: 8px;
}

.block__feedback .subtitle{
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 8px;
  color: #56597A;
}

.block__feedback .img{
  display: block;
  max-width: 300px;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

.block__feedback .text{
  font-size: 12px;
  line-height: 16px;
  color: #919299;
  margin-bottom: 10px;
}

.block__feedback .name{
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #56597A;
  margin-bottom: 10px;
}

.block__feedback .country{
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ABABAB;
}

.section--sponsors{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 25px;
  padding-bottom: 25px;
}

.image-wrapper{
  display: block;
  width: 195px;
  height: 46px;
  position: relative;
}

.image-wrapper__img{
  display: block;
  object-position: center;
  object-fit: cover;
  transition: all 0.5s linear;
  filter: grayscale(0);
  margin: 0 auto;
}

.image-wrapper__img--hovered{
  object-position: center;
  object-fit: contain;
  display: block;
  transition: all 0.5s linear;
  filter: grayscale(0);
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.image-wrapper:hover .image-wrapper__img--hovered{
  opacity: 1;
}



  @media (min-width: 576px) {
    .container {
        --container-width: var(--mq-size-sm);
      }

      .navigation__item{
        margin: 0px 0px 8px 10px;
     }

     .navigation.active{
      top: 60px;
   }
   
   .header__burger{
      margin-right: 15px;
   }
   
   .navigation__item{
      margin: 0px 0px 15px 20px;
   }

    .title{
      font-size: 20px;
      line-height: 20px;
      margin: 0;
     }

     .subtitle{
      font-size: 28px;
      line-height: 28px;
      color: #56597A;
      margin-left: 0;
      margin: 15px 0px 0px 0px;
   }

   .main-block__text{
    font-size: 16px;
    line-height: 16px;
    margin: 15px 0px 0px 0px;
  }

  .block__img{
    position: relative;
    top: 0;
    right: 0;
 }

 

 .main-block{
  display: flex;
  margin: 0;
  align-items: center;
  padding-right: 15px;
}

.pattern{
  display: flex;
      flex-direction: column;
      max-width: 355px;
      height: 300px;
}

.card-wrapper{
  flex-direction: row;
  flex-wrap: wrap;
}

.block__feedback{
  display: flex;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}

.block__feedback .feedback__part{
  padding-left: 15px;
  max-width: 50%;
  height: 100%;
}

.block__feedback .title{
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 15px;
  text-align: left;
  margin-left: 12px;
}

.block__feedback .subtitle{
  font-size: 35px;
  line-height: 35px;
  text-align: left;
  margin-bottom: 15px;
  margin-left: 12px;
}

.block__feedback .img{
  margin-bottom: 0;
  height: 100%;
  width: 100%;
}

.block__feedback .text{
  font-size: 16px;
  line-height: 16px;
  margin-top: 15px;
}

.block__feedback .name{
  font-size: 18px;
  line-height: 18px;
}

.block__feedback .сountry{
  font-size: 14px;
  line-height: 14px;
}



  }
  @media (min-width: 768px) {
    .container {
        --container-width: var(--mq-size-md);
      }
    
      .navigation__item{
        margin: 0px 0px 8px 10px;
     }

    .title{
      font-size: 28px;
      line-height: 40px;
      margin-bottom: 20px;
    } 

    .subtitle{
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 20px;
   }

   .main-block__text{
    font-size: 20px;
    line-height: 32px;
 }

 .block__img{
  height: 100%;
  object-fit: cover;
  object-position: center;
  max-width: none;
}


.main-block{
  width: 100%;
}

.pattern{
  height: 100%;
      background-size: cover;
      max-width: 60%;
}

.block__feedback{
  align-items: flex-start;
  padding-top: 48px;
  display: flex;
}

.block__feedback .img{
  margin: auto 0;
  max-width: 40%;
}

.block__feedback .text{
  font-size: 20px;
  line-height: 32px;
}

.block__feedback .name{
  font-size: 18px;
  line-height: 18px;
}

.block__feedback .country{
  font-size: 14px;
  line-height: 14px;
} 
  }
  
  @media (min-width: 992px) {
    .container {
        --container-width: var(--mq-size-lg);
      }
    
      .navigation__item{
        margin: 0px 0px 8px 10px;
     }

     .navigation__link{
       margin-right: 60px;
     }
     
      .header__wrapper{
        height: 182px;
        margin-left: 40px;
     }

      .title{
      margin-bottom: 29px;
    } 

    .subtitle{
      font-size: 56px;
      line-height: 72px;
      margin-bottom: 28px;
   }

   .main-block{
    margin-top: 112px;
 }

 .pattern{
  max-width: 55%;
}

.section{
  margin-top: 112px;
}


.block__feedback{
  align-items: flex-start;
}

.block__feedback .img{
  max-width: 40%;
}

.block__feedback .title{
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 15px;
}

.block__feedback .subtitle {
  font-size: 52px;
  line-height: 62px;
  margin-bottom: 38px;
}

.block__feedback .name {
  font-size: 28px;
  line-height: 32px;
}

.block__feedback .country{
  font-size: 16px;
  line-height: 32px;
} 
  }
  
  @media (min-width: 1200px) {
    .container {
      --container-width: var(--mq-size-xl);
    }

    .navigation {
    display: block;
    }


  .block__img{
    width: 570px;
    height: 472px;
    max-width: none;
    margin-right: 79px;
    }

  

  }
  
  @media (hover: hover) and (pointer: fine) {
    .cl-button:hover {
      border-color: var(--theme-color-secondary);
      color: var(--theme-color-text);
      background: var(--theme-color-primary);
      transition: 0.5s;
    }  
  }